<section class="catalog">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="catalog__navigation"><a href="/">Главная<i class="fa fa-long-arrow-right"></i></a><a href="#">Кабинет модератора</a></div>
      </div>
      <div class="col-xs-12">
        <div class="catalog__sorting">
          <div class="row">
            <div class="col-md-5 col-xs-12">
              <div class="catalog__sorting__block">
                <div class="heading">
                  <h2>Модерация</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="tabs">
        <ul class="tabs__caption">
          <li><a style="color:#333;font-size:1.1em" href="/lk/moderation">Модерация</a></li>
          <li><a style="color:#333;font-size:1.1em" href="/lk/published">Опубликованные</a></li>
          <li><a style="color:#333;font-size:1.1em" href="/lk/rejected">Отклонённые</a></li>
          <li><a style="color:#333;font-size:1.1em" href="/lk/users">Пользователи</a></li>
          <li class="active"><a style="color:#333;font-size:1.1em" href="/lk/banned">Чёрный список</a></li>
        </ul>
      </div>
    </div>
    <div class="row margin-top margin-bottom">{{ range .users }}
      <div class="moder__item">
        <h2>Пользователь #{{.Id }} {{ .DisplayName }} {{if .Banned}}(забанен){{end}}</h2>
        </div>
        <div class="moder__item__footer">
          <form action="/users/{{.Id}}/unban" method="post">
            <button class="btn btn-primary">Разбнить</button>
          </form>
        </div>
      </div>{{end}}
    </div>
  </div>
</section>
