<section class="catalog">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="catalog__navigation"><a href="/">Главная<i class="fa fa-long-arrow-right"></i></a><a href="#">Кабинет модератора</a></div>
      </div>
      <div class="col-xs-12">
        <div class="catalog__sorting">
          <div class="row">
            <div class="col-md-5 col-xs-12">
              <div class="catalog__sorting__block">
                <div class="heading">
                  <h2>Модерация</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="tabs">
        <ul class="tabs__caption">
          <li class="active"><a style="color:#333;font-size:1.1em" href="/lk/moderation">Модерация</a></li>
          <li><a style="color:#333;font-size:1.1em" href="/lk/published">Опубликованные</a></li>
          <li><a style="color:#333;font-size:1.1em" href="/lk/rejected">Отклонённые</a></li>
          <li><a style="color:#333;font-size:1.1em" href="/lk/users">Пользователи</a></li>
          <li><a style="color:#333;font-size:1.1em" href="/lk/banned">Чёрный список</a></li>
        </ul>
      </div>
    </div>
    <div class="row margin-top margin-bottom">{{ range .ads }}
      <div class="moder__item"><img src="http://via.placeholder.com/350x150">
        <div class="moder__item__body">
          <div class="moder__item__body__info">
            <h2>Объявление #{{.Id}}</h2>
            <div class="moder__item__body__info__text">{{ .Text }}</div>
            <div class="moder__item__body__info__footer"><img src="http://via.placeholder.com/50x50"><a href="/users/">Константин Александрович <span class="role">(пользователь)</span></a>
              <div class="moder__item__body__info__footer__date">10 марта</div>
            </div>
          </div>
        </div>
        <div class="moder__item__footer">
          <form style="float:left" action="/ads/{{.Id}}/publish" method="post">
            <button class="btn btn-primary">Опубликовать</button>
          </form>
          <form action="/ads/{{.Id}}/reject" method="post">
            <button class="btn">Отклонить</button>
          </form>
        </div>
      </div>{{end}}
    </div>
  </div>
</section>
