<h1>Баланс: {{ .account.Balance }}р</h1>

<form method="POST" action="https://money.yandex.ru/quickpay/confirm.xml">
  <input type="hidden" name="receiver" value="410012552948153">
  <input type="hidden" name="formcomment" value="Проект «Уютное гнёздышко»">
  <input type="hidden" name="short-dest" value="Проект «Уютное гнёздышко»">
  <input type="hidden" name="label" value="{{ .account.UserId }}">
  <input type="hidden" name="quickpay-form" value="donate">
  <input type="hidden" name="targets" value="транзакция 1123">
  <input type="text" name="sum" value="10" data-type="number" placeholder="Сумма">
  <input type="hidden" name="comment" value="Хотелось бы получить уютное гнёздышко.">
  <!-- <input type="hidden" name="need-fio" value="true">
  <input type="hidden" name="need-email" value="true"> -->
  <input type="hidden" name="need-phone" value="false">
  <input type="hidden" name="need-address" value="false">
  <label><input type="radio" name="paymentType" value="PC">Яндекс.Деньгами</label>
  <label><input type="radio" name="paymentType" value="AC">Банковской картой</label>
  <input class="btn btn-primary" type="submit" value="Пополнить">
</form>
