body,
.uk-text-lead {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

.uk-navbar-nav > li > a {
  text-transform: none;
}

.add-offer > a {
  color: #FF485B;
}
.filter-img {
  position: absolute;
  top: 7px;
  bottom: 0;
  right: 5px;
  width: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.filter-img-a {
  top: 16px;
}

.header-profile-img {
  height: 50px;
  border-radius: 50%;
}

footer {
  background: #f6f6f6;
}

.footer-list-item {
  list-style: none;
  padding: 7px 0;
}

.footer-list a {
  color: #747474;
}

.footer-list {
  padding-left: 0;
}

.footer-claims {
  padding: 30px 0;
}


.footer-dark {
  background: #eee;
}

.footer-dark a {
  color: #888;
  text-decoration: underline;
  margin-right: 20px;
}


.padding-top {
  padding-top: 2em;
}

.padding-bot {
  padding-bottom: 2em;
}
