<link rel="stylesheet" href="/css/dropzone.css">

<h1>Создать объявление</h1>
<div class="uk-margin">
    <a href="/profile">В профиль</a>
</div>
<div class="uk-flex">
    <form class="uk-margin" id="my-awesome-dropzone" action="" method="post" enctype="multipart/form-data">
        <div class="uk-margin">
          <label for="form-city_id">Город</label>
          <select name="city_id" class="uk-select" id="form-city_id">
            <option value="2">Санкт-Петербург</option>
            <option value="1">Москва</option>
          </select>
        </div>
        <div class="uk-margin">
          <select name="living_type" id="">
            <option value="1">Квартира</option>
            <option value="2">Дом</option>
            <option value="3">Комната</option>
            <option value="4">Койко-место</option>
          </select>
        </div>
        <div class="uk-margin">
          <label for="">Комнат</label>
          <select name="room_count" id="">
            <option value="7">Студия</option>
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6+</option>
          </select>
        </div>
        <div class="uk-margin">
          <input type="text" name="full_address" placeholder="адрес" id="">
        </div>
        <div class="uk-margin">
          <label for="form-text">Ближайшее метро</label>
          <select name="nearest_metro_station_id" id="">
            <option value="1">Динамо</option>
          </select>
        </div>
        <input type="hidden" name="page_xid" id="" value="{{ .pageXid }}">
        <div class="uk-margin">
            <label for="form-text">Описание</label>
            <textarea class="uk-textarea" name="text" id="form-text" rows="8" cols="80" placeholder="моя квартира самая лучшая"></textarea>
        </div>
        <div class="uk-margin">
          <label for="">Комфорт</label>
          <div class="uk-flex">
            <div class="uk-width-1-3">
              <div><input name="balcony" class="uk-checkbox" type="checkbox"> Балкон</div>
              <div><input name="air_conditioning" class="uk-checkbox" type="checkbox"> Кондиционер</div>
            </div>
            <div class="uk-width-1-3">
              <div><input name="parking_place" class="uk-checkbox" type="checkbox"> Парковочное место</div>
              <div><input name="fireplace" class="uk-checkbox" type="checkbox"> Камин</div>
            </div>
            <div class="uk-width-1-3">
              <div><input name="loggia" class="uk-checkbox" type="checkbox"> Лоджия</div>
            </div>
          </div>
        </div>
        <div class="uk-margin">
          <label for="form-city_id">Цена</label>
          <input type="text" name="price" value="" placeholder="Цена">
        </div>
        <div class="uk-margin">
          <label for="form-phone">Телефон для связи</label>
          <input class="uk-input" type="text" name="phone" id="form-phone" placeholder="+79991234567">
        </div>
        <div>
          <div id="map" style="width:600px;height:300px;">
            <input type="hidden" name="lat" id="" value="">
            <input type="hidden" name="lon" id="" value="">
        </div>
        <div class="uk-margin">
            <button type="submit" class="uk-button" name="button">Добавить объявление</button>
        </div>
    </form>
    <form action="/images/upload?xid={{ .pageXid }}" class="dropzone uk-margin-left">
        <div class="dz-message" data-dz-message><span>Перетащите изображения сюда</span></div>
    </form>
</div>

<script src="/js/dropzone.js"></script>
<script src="//api-maps.yandex.ru/2.1.9/?load=package.full&lang=ru-RU&coordorder=longlat"></script>
<script>
    ymaps.ready(init);
    var myMap;
    var long = document.querySelector("input[name=lon]")
    var lat  = document.querySelector("input[name=lat]")

    function init(){
        myMap = new ymaps.Map ("map", {
            center: [31.987929,54.770227],
            zoom: 10,
            behaviors:["drag"],
            type: 'yandex#map',
            controls: ['zoomControl']
        });
        var data = {
          balloonContent: false,
          hintContent: 'Перетащите метку',
          iconContent: '',
       },
      options = {
        balloonHasCloseButton: true,
          preset: 'twirl#redStretchyIcon',
          draggable: true
      },
      myPlacemark = new ymaps.Placemark([31.987929,54.770227], data, options);
      myPlacemark.geometry.events.add("change", function(){
          var longlat = myPlacemark.geometry.getCoordinates()
          long.value = longlat[0]
          lat.value = longlat[1]
      })
        myMap.geoObjects.add(myPlacemark);

    }



</script>
