<!--
.ads - объяления, массив
  .ID
-->

<h2>Объявления</h2>

<div class="uk-margin">
    <a href="/ads/create">Создать</a>
</div>
<style>
.post-image {
  height:100px;
}
</style>
<link href="/css/lightbox.min.css" rel="stylesheet">
<div class="uk-margin">
  <div class="uk-grid uk-grid-collapse uk-text-center" uk-grid>
    <div>
        <div class="uk-background-muted uk-padding-small">На длительный срок</div>
    </div>
    <div>
        <div class="uk-background-primary uk-padding-small uk-light">На сутки</div>
    </div>
    <div class="uk-width-expand">
      <div class="uk-flex uk-flex-right">
        <div class="uk-padding-small"><a href="#">История поиска</a></div>
      </div>
    </div>
</div>
</div>
<form action="">
<div class="uk-margin">
  <div class="uk-flex uk-child-width-expand">
    <div>
      <div class="uk-inline">
            <img src="/img/pin.svg" class="filter-img" style="" alt="">
            <input type="text" class="uk-input" name="" id="" placeholder="Город">
      </div>
    </div>
    <div>
      <div class="uk-inline">
            <img src="/img/triangle.svg" class="filter-img filter-img-a" style="" alt="">
            <input type="text" class="uk-input" name="" id="" placeholder="Квартира">
      </div>    </div>
    <div>
      <input type="text" class="uk-input" name="pmin" id="" placeholder="Цена от" value="{{with .query}}{{.Get "pmin"}}{{end}}">
    </div>
    <div>
      <input type="text" class="uk-input" name="pmax" id="" placeholder="До" value="{{with .query}}{{.Get "pmax"}}{{end}}">
    </div>
    <div>
      <input type="text" class="uk-input" name="" id="" placeholder="Метро">
    </div>
    <div>
      <input type="text" class="uk-input" name="" id="" placeholder="Район">
    </div>
  </div>
</div>
<div class="uk-margin">
  <div class="uk-flex">
    <div>
      <div class="uk-padding-small"><a href="">Параметры поиска</a></div>
    </div>
    <div class="uk-width-expand">
      <div class="uk-flex uk-flex-right">
        <div>
          <div class="uk-padding-small uk-text-muted">Найдено: 136 вариантов</div>
        </div>
        <div>
          <div class="">
          <button class="uk-button uk-button-primary">Показать объявления</button></div>
        </div>
      </div>
    </div>

  </div>
</div>
</form>
<div class="uk-margin">
  <div class="uk-flex">
    <div class="uk-width-4-4">
      {{ range .ads }}
      <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-left uk-margin-bottom">
           <h3 class="uk-card-title"><a href="/users/{{ (adUser . $.users ).Id }}">{{ (adUser . $.users).DisplayName }}</a></h3>
          {{ markdown .Text }}
          {{ $id := .Id }}
          <p>{{ range .Data.Images }} <a data-lightbox="galya-{{ $id }}" href="{{.}}"><img class="post-image" src="{{ . }}" height="100px" alt=""></a>   {{ end }}</p>
          <p><b>Цена:</b> {{ .Data.Price }}</p>
      </div>{{end}}
    </div>
  </div>
</div>
