<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- UIkit CSS -->

    <link rel="stylesheet" href="/css/uikit.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <nav class="uk-navbar-container uk-margin uk-navbar" uk-navbar>
    <div class="uk-navbar-left ">
        <a class="uk-navbar-item uk-logo" href="/"><img width=150px src="/img/logo-black.svg" alt=""></a>
    </div>
    <div class="uk-navbar-center">
      <ul class="uk-navbar-nav">
          <li>
            <a href="/filter">Найти гнездышко</a>
          </li>
          <li>
            <a href="/filter">Найти гнездоискателя</a></li>
          <li>  <a href="/filter">Найти гнездососеда</a></li>
          <li>  <a href="/">Чёрный список</a>
          </li>
          <div class="uk-navbar-item">
           <form action="javascript:void(0)">
               <input class="uk-input uk-form-width-small" type="text" placeholder="Поиск">
               <button class="uk-button uk-button-default" style="padding:0 5px"><img src="/img/search.svg" alt=""></button>
           </form>
          </div>
           <li class="add-offer"><a href="/offers/create" style="color:#FF485B;font-weight:bold"><img src="/img/plus-circle.svg" style="max-width:30px;margin-right:5px;" alt="">Создать объявление</a></li>

      </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="/logout">Выйти</a>
            </li>
            <li>
              <a href="#" class="uk-navbar-item uk-logo">
                <img class="header-profile-img" src="/img/profile.jpg" alt="">
              </a>
            </li>
        </ul>
    </div>
  </nav>
    <div class="uk-container uk-margin-top">

{{ yield }}
    </div>

<footer class="uk-margin-top">
  <div class="uk-container">
    <div class="uk-grid uk-grid-collapse padding-top padding-bot">
      <div class="uk-width-1-2@m">
        <div class="uk-grid">
          <div>
            <ul class="footer-list">
              <li class="footer-list-item">
                <a href="#">Найти гнёздышко</a>
              </li>
              <li class="footer-list-item">
                <a href="#">Найти гнездоискателя</a>
              </li>
              <li class="footer-list-item">
                <a href="#">Найти гнездососеда</a>
              </li>
            </ul>
          </div>
          <div>
            <ul class="footer-list">
              <li class="footer-list-item">
                <a href="#">Вопросы и ответы</a>
              </li>
              <li class="footer-list-item">
                <a href="#">Чёрный список</a>
              </li>
              <li class="footer-list-item">
                <a href="#">Реклама</a>
              </li>
            </ul>
          </div>
          <div>
            <ul class="footer-list">
              <li class="footer-list-item">
                <a href="#">Отзывы о сервисе</a>
              </li>
              <li class="footer-list-item">
                <a href="#">Правила сервиса</a>
              </li>
              <li class="footer-list-item">
                <a href="#">Модераторы в работе</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="uk-width-1-2@m">
        <div class="uk-float-right socials">
          <a href="#">
            <img class="uk-margin-small-right" src="https://icongr.am/fontawesome/telegram.svg?color=0066aa" alt="">
          </a>
          <a href="#">
            <img class="uk-margin-small-right" src="https://icongr.am/fontawesome/youtube-play.svg?color=ff0000" alt="">
          </a>
          <a href="#"><img class="uk-margin-small-right" src="https://icongr.am/fontawesome/vk.svg?color=0066aa" alt=""></a>
          <a href="#"><img src="https://icongr.am/fontawesome/facebook.svg?color=0066aa" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="footer-dark footer-claims">
  <div class="uk-container">
    <div class="uk-grid">
      <div class="uk-width-expand@m">
        <a href="#">Политика обработки персональных данных</a>
        <a href="#">Типовой договор аренды</a>
      </div>
      <div></div>
    </div>
  </div>
</footer>
</body>
</html>
