<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- UIkit CSS -->

    <link rel="stylesheet" href="/css/uikit.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <nav class="uk-navbar-container uk-margin uk-navbar" uk-navbar>
    <div class="uk-navbar-left ">
        <a class="uk-navbar-item uk-logo" href="/"><img width=150px src="/img/logo-black.svg" alt=""></a>
    </div>
    <div class="uk-navbar-center">
      <ul class="uk-navbar-nav">
          <li>
            <a href="/filter">Найти гнездышко</a>
          </li>
          <li>
            <a href="/filter">Найти гнездоискателя</a></li>
          <li>  <a href="/filter">Найти гнездососеда</a></li>
          <li>  <a href="/">Чёрный список</a>
          </li>
          <div class="uk-navbar-item">
           <form action="javascript:void(0)">
               <input class="uk-input uk-form-width-small" type="text" placeholder="Поиск">
               <button class="uk-button uk-button-default" style="padding:0 5px"><img src="/img/search.svg" alt=""></button>
           </form>
          </div>
           <li class="add-offer"><a href="/offers/create" style="color:#FF485B;font-weight:bold"><img src="/img/plus-circle.svg" style="max-width:30px;margin-right:5px;" alt="">Создать объявление</a></li>

      </ul>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="/reg-with-phone">Войти</a>
            </li>
        </ul>
    </div>
  </nav>
    <div class="uk-container uk-margin-top">

{{ yield }}
    </div>



</body>
</html>
