{{ range .messages }}
<div class="uk-margin {{if eq $.SignedUser.Id .Sender}}uk-text-right {{ end }}">
{{ .Text }}</div>
{{ end }}
<form class="" action="" method="post">
  <textarea name="text" rows="2" cols="80"></textarea>
  <button class="uk-button uk-button-primary" type="submit" name="button">Отправить</button>
</form>
