<form class="uk-form" action="" method="post">
  <div class="uk-margin">
    <input type="text" class="uk-input" name="phone" value="" placeholder="Номер телефона">
  </div>
  <div class="uk-margin">
    <button class="uk-button uk-button-primary">Отправить код</button>
  </div>
</form>
