<style>
.video-section {
  height: 100vh;
}
.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.center-container div {
text-align: center;
}

.center-container a {
  display: inline-block;
}
</style>
<section class="video-section">
  <div class="center-container">
    <div>
      <a href="/auth/vk" class="btn btn-primary"><i class="fa fa-vk"></i> Войти через ВК</a>
    </div>
  </div>
  <video id="bgvid" playsinline autoplay muted loop>

  <source src="https://ug.dev.zhuharev.ru/chern.mp4" type="video/mp4">
  </video>
</section>

<style>
video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    /* transform: translateX(-50%) translateY(-50%); */
  background-size: cover;
  transition: 1s opacity;
}
</style>
