<form class="uk-form" action="" method="post">
  <div class="uk-margin">
    <input type="hidden" name="phone" value="{{ .phone }}" id="">
    <input type="text" class="uk-input" name="code" value="" placeholder="Введите код из смс">
  </div>
  <div class="uk-margin">
    <button>Подтвердить</button>
  </div>
</form>
