<form action="" method="post">
  <div class="uk-margin">
    <input type="text" name="full_name" id="" class="uk-input">
  </div>
  <div class="uk-margin">
    <button>Сохранить</button>
  </div>
</form>
