<div class="uk-grid">
  <div class="uk-width-3-4">
    <h1>{{ .user.DisplayName }}</h1>
    <div class="uk-margin">
        <a href="/im/{{ .user.Id }}">Написать сообщение</a>
    </div>
  </div>
  <div class="uk-width-1-4">
    <img src="https://pp.userapi.com/c845416/v845416274/c9683/gTnPPvPhaYQ.jpg" alt="">
  </div>
</div>
